<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <app-navbar></app-navbar>
    <br>
    <div class="container-fluid">
        <h1>Welcome to {{title}}!</h1>
        <!--<ul>-->
            <!--<li class="text" *ngFor="let item of users | async">-->
                <!--{{item.name}}-->
            <!--</li>-->
        <!--</ul>-->
        <app-sign-up></app-sign-up>
        <app-page-login></app-page-login>
        <app-user-search></app-user-search>
    </div>
  </body>
</html>
